/* Custom Styles for NM Nayan Portfolio */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
}

a {
  transition: color 0.3s ease;
}

header {
  transition: background-color 0.3s ease;
}

.project-item {
  transition: transform 0.3s ease;
}

.project-item:hover {
  transform: translateY(-5px);
}

footer a {
  color: #cccccc;
}

footer a:hover {
  color: #766dff;
}

details summary {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

details summary:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      space-y-4;
  }
}
